<div class="container">
  <div class="header-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="example-sidenav-content">
          <img src="assets/icon/menu.svg" class="icon-menu" mat-button (click)="drawer.toggle()">
          <p class="menu-text">Menu</p>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="menu-boxes-border">
          Auto-resizing sidenav
        </div>
        <div class="menu-boxes-border-1">
          Auto-resizing sidenav
        </div>
        <div class="menu-boxes-border-2">
          Auto-resizing sidenav
        </div>
        <div class="menu-boxes-border-3">
          Auto-resizing sidenav
        </div>
        <div class="menu-boxes-border-4">
          Auto-resizing sidenav
        </div>
      </mat-drawer>
    </mat-drawer-container>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
